---
layout: layouts/home.njk
eleventyNavigation:
  key: Archive
  order: 2
---

<h1>100 Days of SwiftUI</h1>

<strong>Day 0 (04/23/24):</strong> Day 0 introduced a course overview, including:

<ul>
  <li>Core skills (required) and extension skills (nice-to-haves)</li>
  <li>Common mistakes: Don't be a lone wolf and stick with one resource</li>
  <li>Resources for learning</li>
  <li>Links / technology for connecting with the greater iOS community</li>
  <li>Timelines to learn and apply for a job</li>
</ul>

<h1>Archive</h1>

Stay tuned for future blog posts!

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
